# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================

venv/
.venv/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Logs
# =========================

logs/
*.log

# =========================
# Uploads / Outputs
# =========================

uploads/
outputs/
processed/
temp/

# =========================
# Database
# =========================

*.db
*.sqlite3

# =========================
# VS Code
# =========================

.vscode/

# =========================
# PyCharm
# =========================

.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Testing
# =========================

.pytest_cache/

# =========================
# Coverage
# =========================

.coverage
htmlcov/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Docker
# =========================

docker-compose.override.yml

# =========================
# Frontend
# =========================

node_modules/
dist/
build/

# =========================
# Cache
# =========================

.cache/

# =========================
# Celery
# =========================

celerybeat-schedule